@tailwind base;
@tailwind components;
@tailwind utilities;

/* global css variables */
:root {
  --color-text-main: #000;
}

/* tailwind helper classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .h-container {
    height: calc(100vh - theme('spacing.10'));
  }
}

body {
  color: var(--color-text-main);
}
